.info{
    font-style: italic;
    &:hover{
        color: plum;
    }

    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .item{
        width: 100px;
        color: red;
    }
}


.likes{
    background-color: darkslateblue;
    width: 110px;
}

