.info{
    font-style: italic;

    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid yellow;
    }

    .item{
        width: 100px;
        color: red;
    }
}


.likes{
    &:hover{
        color: orange;
    }
    color: wheat;
    text-align: center;
    background-color: darkmagenta;
    width: 6%;
    border-radius: 50%;
    border: 2px solid orange;
}

