.navigation {
    font-size: 20px;
    background-color: indigo;
    grid-area: navigation;
    padding: 30px;

    a{
        color: whitesmoke;
        text-decoration: none;
        &:hover{
            color: fuchsia;
        }
        &:active{
            color: turquoise;
        }
    }

    a.activeButton{
        &:hover{
            color: black;
        }
        color: orangered;
    }
}

