.general{
    margin-top: 20px;
    margin-left: 20px;

    .postField{
        width: 200px;
        height: 30px;
        border: 3px solid indigo;
        box-shadow: 3px 3px 5px black;
        border-radius: 10px;
        background-color: black;
        color: white;
        resize: none;
        &:focus{
            outline:none;
            box-shadow: 5px 5px 5px black;
        }
    }

    .postButton{
        border-radius: 10px;
        background-color: black;
        color: white;
        border: 3px solid indigo;
        &:active{
            color: green;
        }
    }
}