.Application {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
      grid-template-areas: "header header" "navigation content";
}

.Application_content {
  border-left: 7px groove white;
  font-size: 20px;
  background-color: lightgoldenrodyellow;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
}
