.Application{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
                        "header header"
                        "navigation content";
}

.Application_content{
    border-left: 7px groove white;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
    grid-area: content; 
}
